<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>My Tapes</title>

</head>
<body>
    <main id="main">
        <router-view></router-view>

        <!-- <span v-on:click="myAlbums(next)" v-if="next">load more >></span> 
        <span v-on:click="sort(albums)">Sort</span>
        <ul class="albums">
           <li class="albums-item" v-for="item in albums">
               <div>{{ item.album.name }}</div>
               <img class="albums-cover" v-bind:src="item.album.images[1].url" alt="">
           </li>
        </ul> -->
    </main>
</body>
</html>