<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>My Tapes</title>
    <script src="https://unpkg.com/vue"></script>
    <script src="https://unpkg.com/vue-resource@1.3.1/dist/vue-resource.min.js"></script>
</head>
<body>
    <main id="main">
        <span v-on:click="myAlbums(next)" v-if="next">load more >></span> 
        <ul style="list-style-type: decimal">
           <li v-for="item in albums">
               <div>{{ item.album.name }}</div>
               <img v-bind:src="item.album.images[2].url" alt="">
           </li>
        </ul>
        
    </main>
</body>
</html>