@import 'reset.css';

.albums {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
    margin-top: 100px;
    &-item {
        display: flex;
        position: relative;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border: 1px solid rgba(49,49,49,0.06);
        box-shadow: -2px 4px 8px 0 rgba(49,49,49,0.08);
        border-radius: 2px;
        &:not(:first-child) {
            margin-left: -90px;
        }
        &:after {
            display: block;
            content: '';
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            background-image: linear-gradient(225deg, rgba(255,255,255,0.00) 0%, rgba(149,149,149,0.80) 51%, rgba(49,49,49,0.60) 100%), url(/src/img/noise.svg);
            background-size: 100%;
            box-shadow: inset 0 0 20px 0 rgba(49,49,49,.6);
            opacity: .2;
        }
    }
    &-cover {
        width: 120px;
        height: auto;
        border-radius: 2px;
    }
}
.albums-item:hover {
    position: relative;
    z-index: 99;
    transform:translate(-60px,-60px);

    .albums-cover {
        transition-timing-function: ease-in;
        transition: width .5s, height .8s;
        width: 240px;
    }
}
